@media screen {
    
}

*{
    margin: 0;
    padding: 0;

}

body{
    display: grid;
    column-gap: 7px;
    grid-template-areas: 
    "nav nav nav nav side"
    "ti ti ti ti side"
    "cont cont cont cont side"
    "cont cont cont cont side"
    "cont cont cont cont side"
    "cont cont cont cont side"
    "cont cont cont cont side"
    "cont cont cont cont side"
    "foot foot foot foot side"
    ;

}



.navbar{
    grid-area: nav;
}
.sidebar{
    grid-area: side;
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: space-evenly;
    direction: rtl;
    position: relative;
}
.title{
    grid-area: ti;
    background-color: green;
    height: 45px;
    display: grid;
    grid-template-areas: 
    btn btn btn tit tit tit;
}
.content{
    grid-area: cont;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
footer{
    grid-area: foot;
    background-color: blueviolet;
}
/* start navbar ----------------------------------------------------------------------------------*/
.nav-link img{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: -5px;
}
.nav-link img:hover{
    background-color: black;
    border-radius: 40px;
}
/* start sidebar ----------------------------------------------------------------------------------*/
.list-group{
    position: absolute;
    margin-right: 10px;
    width: 90%;
}
.list-group a{
    border: none;
    border-radius: none;
    font-size:x-small;
}
.list-group .topside{
    height: 80px;
}
.list-group .list-group-item:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.list-group a .log{
    margin-left: 10px;
}

/* start title ----------------------------------------------------------------------------------*/
.btn{
    grid-area: btn;
    direction: ltr;
}
.tit{
    grid-area: tit;
    direction: rtl;
    padding-right: 50px;
    padding-top: 20px;
    font-weight: bolder;
}
/* start content ----------------------------------------------------------------------------------*/
.container {
    border: 1px solid black;
    background-color: aqua;
    width: 80%;
    height: 80%;

}

/* start footer ----------------------------------------------------------------------------------*/
